/.idea/
/.vscode/
/.kiro/
/.shared/
/.agent/
/.claude/
/.cursor/
/.gemini/

/frontend/node_modules/
/frontend/dist/

/frontendV2/node_modules/
/frontendV2/dist/



/backend/szy/src/main/resources/application.yml
/backend/szy/target/

/backend/szy-new/target/

/SK/
/SKV2/

/SKV2/node_modules/

nul

/nul
