<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.mapper.DictMapper">

    <resultMap id="BaseResultMap" type="com.szy.pojo.entity.Dict">
        <id column="dict_id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        dict_id, name, description, create_time, update_time
    </sql>

    <select id="list" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM dict
        <where>
            <if test="blurry != null and blurry != ''">
                AND (name LIKE CONCAT('%', #{blurry}, '%') OR description LIKE CONCAT('%', #{blurry}, '%'))
            </if>
        </where>
        ORDER BY dict_id DESC
    </select>

    <select id="count" resultType="long">
        SELECT COUNT(*) FROM dict
        <where>
            <if test="blurry != null and blurry != ''">
                AND (name LIKE CONCAT('%', #{blurry}, '%') OR description LIKE CONCAT('%', #{blurry}, '%'))
            </if>
        </where>
    </select>

    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM dict
        WHERE dict_id = #{id}
    </select>

    <select id="findByName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM dict
        WHERE name = #{name}
    </select>

    <select id="findAllNames" resultType="string">
        SELECT name FROM dict ORDER BY dict_id
    </select>

    <select id="findByDictName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM dict
        WHERE name = #{name}
    </select>

    <insert id="insert" parameterType="com.szy.pojo.entity.Dict" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dict (name, description)
        VALUES (#{name}, #{description})
    </insert>

    <update id="update" parameterType="com.szy.pojo.entity.Dict">
        UPDATE dict
        SET name = #{name},
            description = #{description}
        WHERE dict_id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM dict WHERE dict_id = #{id}
    </delete>

</mapper>
