<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.mapper.FlowMapper">
    <select id="getValuesByMap" resultType="java.lang.Double" parameterType="java.util.Map">
        select MP_Q from flow
        <where>
            <if test="startTime != null">
                and TM &gt; #{startTime}
            </if>
            <if test="endTime != null">
                and TM &lt; #{endTime}
            </if>
            <if test="mpCd != null">
                and MP_CD = #{mpCd}
            </if>
        </where>
    </select>
    <select id="getTimesByMap" resultType="cn.hutool.core.date.DateTime" parameterType="java.util.Map">
        select TM from flow
        <where>
            <if test="startTime != null">
                and TM &gt; #{startTime}
            </if>
            <if test="endTime != null">
                and TM &lt; #{endTime}
            </if>
            <if test="MP_CD != null">
                and MP_CD = #{MP_CD}
            </if>
        </where>
    </select>
</mapper>
