<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.mapper.GroundSourceWaterMapper">

    <update id="addPosition">
        update ground_source_water
        set point = st_pointfromtext(#{geom})
        where id = #{id}
    </update>
    <insert id="add">
        insert into ground_source_water (name, area, longitude, latitude, water_quality_goals, status, supply_object,
                                         average_mineable_volume, annual_permitted_withdrawal, management,
                                         whether_emergency_source, create_time, update_time, point)
        values (#{name}, #{area}, #{longitude}, #{latitude}, #{waterQualityGoals}, #{status}, #{supplyObject},
                #{averageMineableVolume}, #{annualPermittedWithdrawal}, #{management}, #{whetherEmergencySource},
                #{createTime}, #{updateTime}, st_pointfromtext(#{geom}))
    </insert>
</mapper>
