<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.mapper.InspectionRecordsMapper">

    <insert id="add">
        insert into inspection_records (
            project,
            longitude,
            latitude,
            type,
            abnormal,
            situation,
            solve,
            image,
            person,
            date,
            create_time,
            update_time,
            point
        ) values (
            #{project},
            #{longitude},
            #{latitude},
            #{type},
            #{abnormal},
            #{situation},
            #{solve},
            #{image},
            #{person},
            #{date},
            #{createTime},
            #{updateTime},
            st_pointfromtext(#{geom})
        )
    </insert>

    <update id="addPosition">
        update inspection_records
        set point = st_pointfromtext(${geom})
        where id = #{id}
    </update>
    <select id="getAllProjects" resultType="java.lang.String">
        select distinct(project) from inspection_records
    </select>
</mapper>
