<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.mapper.PumpStationMapper">

    <insert id="add">
        insert into pump_station (
            water_supply_project,
            code,
            name,
            type,
            company,
            longitude,
            latitude,
            address,
            operation_mode,
            number,
            design_scale,
            installed_capacity,
            lift,
            date,
            create_time,
            update_time,
            point
        ) values (
            #{waterSupplyProject},
            #{code},
            #{name},
            #{type},
            #{company},
            #{longitude},
            #{latitude},
            #{address},
            #{operationMode},
            #{number},
            #{designScale},
            #{installedCapacity},
            #{lift},
            #{date},
            #{createTime},
            #{updateTime},
            st_pointfromtext(#{geom})
        )
    </insert>
    <update id="addPosition">
        update pump_station
        set point = st_pointfromtext(#{geom})
        where id = #{id}
    </update>
</mapper>
