<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.mapper.ReservoirMapper">

    <update id="addPosition">
        update reservoir
        set point = st_pointfromtext(#{geom})
        where id = #{id}
    </update>
    <select id="getAllReservoirs" resultType="java.lang.String">
        select distinct(name) from reservoir
    </select>
    <insert id="add">
        insert into reservoir (water_supply, code, name, longitude, latitude, locate, registration_number,
                               administration_division, level, scale, total_storage_capacity,
                               regulating_storage_capacity, dead_storage, design_flood_level,
                               normal_storage_level, dead_water_level, date, manage_unit,
                               water_supply_area, create_time, update_time, point)
        values (#{waterSupply}, #{code}, #{name}, #{longitude}, #{latitude}, #{locate}, #{registrationNumber},
                #{administrationDivision}, #{level}, #{scale}, #{totalStorageCapacity},
                #{regulatingStorageCapacity}, #{deadStorage}, #{designFloodLevel},
                #{normalStorageLevel}, #{deadWaterLevel}, #{date}, #{manageUnit},
                #{waterSupplyArea},#{createTime},#{updateTime},st_pointfromtext(#{geom}))
    </insert>
</mapper>
