<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.mapper.WaterworksMapper">

    <insert id="add">
        insert into waterworks (water_supply, code, name, address, manage_unit, longitude, latitude, design_scale,
                                water_supply_range, water_supply_load_rate, population, responsible_person, phone,
                                date, create_time, update_time, point)
        values (#{waterSupply}, #{code}, #{name}, #{address}, #{manageUnit}, #{longitude}, #{latitude}, #{designScale},
                #{waterSupplyRange}, #{waterSupplyLoadRate}, #{population}, #{responsiblePerson}, #{phone},
                #{date},#{createTime},#{updateTime},st_pointfromtext(#{geom}))
    </insert>
    <update id="addPosition">
        update waterworks
        set point = st_pointfromtext(#{geom})
        where id = #{id}
    </update>


</mapper>
