<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzsk.backendv2.mapper.dam.DisplacementHistoryMapper">

    <resultMap id="GnssMonitoringDataResultMap" type="com.jzsk.backendv2.pojo.entity.dam.GnssMonitoringDataEntity">
        <id column="id" property="id"/>
        <result column="station_id" property="stationId"/>
        <result column="station_name" property="stationName"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="elevation" property="elevation"/>
        <result column="displacement_x" property="displacementX"/>
        <result column="displacement_y" property="displacementY"/>
        <result column="displacement_z" property="displacementZ"/>
        <result column="monitor_time" property="monitorTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <!-- 统计GNSS监测数据总数 -->
    <select id="countPage" resultType="long">
        SELECT COUNT(*)
        FROM gnss_monitoring_data
        <where>
            <if test="stationIds != null and stationIds.size > 0">
                AND station_id IN
                <foreach collection="stationIds" item="stationId" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
            </if>
            <if test="startTime != null and startTime != ''">
                AND monitor_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND monitor_time &lt;= #{endTime}
            </if>
        </where>
    </select>

    <!-- 分页查询GNSS监测数据 -->
    <select id="selectPage" resultMap="GnssMonitoringDataResultMap">
        SELECT id, station_id, station_name, longitude, latitude, elevation,
               displacement_x, displacement_y, displacement_z, monitor_time, create_time
        FROM gnss_monitoring_data
        <where>
            <if test="stationIds != null and stationIds.size > 0">
                AND station_id IN
                <foreach collection="stationIds" item="stationId" open="(" separator="," close=")">
                    #{stationId}
                </foreach>
            </if>
            <if test="startTime != null and startTime != ''">
                AND monitor_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND monitor_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY monitor_time DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 查询所有站点 -->
    <select id="selectAll" resultMap="GnssMonitoringDataResultMap">
        SELECT DISTINCT station_id, station_name, longitude, latitude, elevation
        FROM gnss_monitoring_data
        ORDER BY station_id
    </select>

</mapper>
