<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzsk.backendv2.mapper.system.RoleMenuMapper">

    <insert id="batchInsert">
        INSERT INTO sys_role_authority (role_id, authority_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.authorityId})
        </foreach>
    </insert>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_authority
        WHERE role_id = #{roleId}
    </delete>

    <select id="selectMenuIdsByRoleId" resultType="java.lang.Long">
        SELECT authority_id
        FROM sys_role_authority
        WHERE role_id = #{roleId}
    </select>

</mapper>
