<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzsk.backendv2.mapper.mcu.SensorPointMapper">

    <resultMap id="BaseResultMap" type="com.jzsk.backendv2.pojo.entity.mcu.SensorPointEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT id, name
        FROM sensor_point
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT id, name
        FROM sensor_point
        ORDER BY id
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT id, name
        FROM sensor_point
        WHERE name = #{name}
    </select>

    <select id="selectNameByIds" resultMap="BaseResultMap">
        SELECT id, name
        FROM sensor_point
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>
