<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzsk.backendv2.mapper.mcu.SensorPointMapper">

    <resultMap id="BaseResultMap" type="com.jzsk.backendv2.pojo.entity.mcu.SensorPointEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT id, name
        FROM sensor_point
        WHERE id = #{id}
    </select>

</mapper>
